
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .apploc-menu-list {
    gap: 80px;
  }
  .banner-text h2 {
    font-size: 50px;
  }
  .banner-text p {
    font-size: 18px;
 }
 .banner-img {
  padding-top: 260px;
}
.media-text h2 {
  font-size: 44px;
  margin-bottom: 40px;
}
.media-text p {
  font-size: 18px;
  padding: 0px 81px 30px 0px;
}
.soy-abogado {
  margin-top: 50px;
}
.comparti-text p {
  font-size: 22px;
}
.comparti-img {
  top: 23%;
}
.creata-text h2 {
  font-size: 45px;
}
.creata-text p {
  font-size: 21px;
}
.creati-text p {
  font-size: 20px;
}
.pregun-mans img {
  margin-top: -392px;
  margin-left: -28px;
}
.preg-sectin11 {
  bottom: 26px;
  right: 326px;
}
.preg-sectin22 {
  right: 408px;
}
.preg-sectin33 {
  bottom: 361px;
}
.traffic-wrapper {
  padding-top: 334px;
  padding-left: 0px;
  position: relative;
  padding-bottom: 50px;
}
.traffic-text h2 {
  font-size: 47px;
}
.traffic-text p {
  font-size: 18px;
}
.preguntas-menu {
  width: 644px;
}
.preg-secting2 {
  right: 349px;
}
.preg-secting3 {
  bottom: 347px;
  right: 152px;

}
.preg-secting {
  right: 270px;
}
.sumate-head-text h2 {
  font-size: 42px;
  line-height: 69px;
}
.sumatevos-menu {
  padding: 50px 100px;
}
.banner-menu {
  padding-top: 130px;
}
.media-text h2 {
  font-size: 47px;

}
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
 }

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    
 }
