*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    padding: 0 5px;
    margin: 0px 0;
}
.top-header a{
    padding: -5px;
    margin: -5px -5px;
}
.main-menu{
    display: flex;
    align-items: center;
    margin: 0px 250px;
    padding: 0px 150px;
}
.main-menu ul li{
    display: inline-block;
    justify-content:center;
    align-items: center;
    margin: 0px 5px;
    padding: 0px 5px;
}
.last-manu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-menu a:hover{
    color: yellow;
}
.last-manu li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0px 9px;
    padding: 0px 9px;
}
.last-manu ul li{
display:inline-block ;
background: red;
color: #000;
font-size: 13px;
font-weight:13px;
border-radius: 50%;
font-size: 15px;
font-weight: bold;
align-items: center;
justify-content: center;
}
.bannar-section-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannar-content h6{
    color:wheat;
    font-family: Inter;
    font-style: 26px;
    font-weight: bold;
    line-height: 34px;
}

.bannar-section{
    background: url(img/Shape.jpg);
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px; 
}
 .bannar-content h1{
    color:#fff ;
    font-family: Inter;
    font-size: 66px;
    font-style: normal;
    font-weight: 500;
    line-height: 76px;
    margin-bottom: 20px;

} 
 .bannar-content h1 span{
    color: #fff;
}
.bannar-content{
    color: #fff;
    margin-bottom: 20px;
} 
