.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.head-text{
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    li{
        a{
            font-family: "Manrope", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #1A346D;

        }
    }
}
}

.head-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    button{
        padding: 10px 24px;
        font-family: "Manrope";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        background:#fff;
        color: #1351D8;
        background: #EFF4F7;
        border-radius: 10px;


    }
    a{
        padding: 10px 20px;
        font-family: "Manrope";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        background:#fff;
        color: #1351D8;
        background: #EFF4F7;
       border-radius: 10px;


    }
}

.menu-opner{
    display: none;
}
.header-close{
    display: none;
}
.head-btn button:hover{
    background: #1351D8;
    color: #fff;

}
.head-btn a:hover{
    background: #1351D8;
    color: #fff;

}
.menu-fixed{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgb(255, 255, 255);

}
.openar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
}
.menu-opner-list {
    display: none;
  }
  .industries-head-text p {
    padding: 0px 3px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #31446C;

  }
      
  .top-bottom{
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color:#001eff;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    &.active{
        opacity: 1;
        pointer-events: auto;
        z-index: 33;
        bottom: 100px;
        right: 100px;
    }
}