.key-menu{
    ul{
        display: grid;
        grid-template-columns: repeat(4,2fr);
        gap: 20px;
    }
}
.key-item{
    img{
        height: 72px;
        width: 72px;
        margin-bottom: 20px;
    }
    h4{
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: center;
        margin-bottom: 20px;
        color: #1B1C20;
    }
    p{
        font-family: "Montserrat";
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color: #1B1C20;

    }
}
.key-features{
    padding: 60px 0;
}
.key-head-text{
    margin-bottom: 50px;
    h3{
        font-family: "Frank Ruhl Libre";
        font-size: 50px;
        font-weight: 700;
        line-height: 64.55px;
        text-align: center;
        color: #000;
        margin-bottom: 10px;

    }
    p{
font-family: "DM Sans";
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: center;

    }
}
.showcase-features{
    padding: 50px 0;
    background-color: #F5FAFE;
}