// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 
    .banner-text h3 {
        font-size: 45px;
        line-height: 68px;
      }
      .maximizi-head-text h1 {
        font-size: 45px;
        line-height: 60px;
      }
      .maximizi-head-text p {
        font-size: 16px;
      }
      .ceviews-text p {
        font-size: 13px;
      }
      .latest-profile h4 {
        font-size: 22px;
      }
      .latest-profile p {
        font-size: 14px;
      }
      .openar-menu {
        gap: 128px;
      }
      .openar-menu {
        gap: 94px;
      }
      .offer-flgs ul {
        grid-template-columns: repeat(10, 3fr);
        gap: 16px;
      }
    }


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    
    .banner-text h3 {
        font-size: 40px;
        line-height: 60px;
      }
      .banner-text P {
        font-size: 18px;
      }
      .our-menu-profile ul li {
        width: 127px;
      }
      .our-menu-profile ul li a h6 {
        font-size: 17px;
      }
      .our-menu-profile ul li a span {
        font-size: 15px;
      }
      .industries-head-text p {
        padding: 0px 80px;
      }
      .industries-menu ul li {
        height: 214px;
       width: 224px;
        padding: 20px;
      }
      .industries-menu ul li p {
        font-size: 11px;
 }
 .industries-menu ul li h6 {
    font-size: 16px;
  }
  .maximizi-head-text h1 {
    font-size: 41px;
    line-height: 60px;
  }
  .maximizi-head-text p {
    font-size: 14px;
  }
  .earnings-with h5 {
    font-size: 21px;
  }
  .adlesa-text-menu h4 {
    font-size: 21px;
  }
  .adlesa-text-menu p {
    font-size: 14px;
  }
  .latest-profile h4 {
    font-size: 19px;
  }
  .latest-profile p {
    font-size: 12px;
  }
  .footer-Company {
    margin-left: 150px;
  }
  .head-text ul li a {
    font-size: 13px;
  }
  .head-btn button {
    padding: 7px 13px;
    font-size: 14px;
  }
  .head-btn a {
    padding: 7px 8px;
    font-size: 14px;
  }
  .satff-profile span {
    font-size: 21px;
  }

  .satff-profile p {
    font-size: 13px;
  }
  .company-text h1 {
    font-size: 44px;
  }
  .img-path {
    bottom: 243px;
  }
  .company-text P {
    font-size: 14px;
  }
  .company-text ul {
    display: block;
    margin-bottom: 20px;
  }
  .professional-menu-profile ul li {
    padding: 28px 27px;
  }
  .about-text h3 {
    font-size: 45px;
  }
  .company-text h5 {
    margin-bottom: 20px;
  }
  .img-path {
    bottom: 206px;
  }
  .industries-head-text h1 {
    font-size: 53px;
    margin-bottom: 45px;
  }

}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .banner-text h3 {
        font-size: 56px;
        line-height: 72px;
      }
      .banner-text P {
        font-size: 24px;
      }
      .our-menu-profile ul {
        grid-template-columns: repeat(3, auto);
 }
 .our-menu-profile ul li {
    width: 200px;
  }
  .our-menu-profile ul li a h6 {
    font-size: 24px;
  }
  .our-menu-profile ul li a span {
    font-size: 15px;
  }
  .industries-menu ul li {
    height: 214px;
    width: 177px;
    padding: 20px;
  }
  .industries-menu ul li h6 {
    font-size: 13px;
    margin-bottom: 8px;
  }
  .menu-indus4 {
    background-color: #FFDBE1;
    margin-top: -128px;
    margin-left: -74px;
  }
  .earnings-with h5 {
    font-size: 15px;
  }
  .adlesa-menu {
    grid-template-columns: repeat(2, auto);
}
.adlesa-text-menu h4 {
    font-size: 24px;
  }
  .swiper-pagination-bullet {
    cursor: progress;
    padding: 7px 8px;
    border-radius: 10px;
  }
  .latest-menu ul {
    grid-template-columns: repeat(2, auto);
  }
  .latest-profile h4 {
    font-size: 22px;
  }
  .latest-profile p {
    font-size: 14px;
  }
  .footer-Company {
    margin-left: 92px;
  }
  .footer-img-icon ul {
    padding-top: 125px;
  }
  .industries-head-text p {
    padding: 0px 23px;
  }
  .footer-text h5 {
    font-size: 16px;
}
.footer-text h6 {
  font-size: 16px;
}
.latest-blog {
  padding: 70px 0;
}
.our-clients-ceviews {
  padding: 70px 0;
}
.maximize-section {
  padding: 0px 0px 70px 0px;
}
.our-solution-section {
  padding: 70px 0;
}
.our-menu-profile ul {
  grid-template-columns: repeat(3, auto);
}
.menu-opner{
  display: block;
  cursor: pointer;
  padding: 0 10px;
}
.menu-opner-list{
  display: block;
  a{
    color: #000000;
}
}
.openar-menu{
  position: fixed;
  left: -100%;
  top: 0;
  padding: 40px;
  transition: .3s;
  background-color: #fff;
  color: #000;
  z-index: 1;
  display: block;
  ul{
    display: block;
    li{
      padding-bottom: 10px;
      a{
        color: #000;
      }
    }
  }
  &.active{
      left: 0;
      width: 100%;
    height: 60vh;
  }
}
.head-btn {
  padding-top: 100px;
}
.header-close {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
.about-text h3 {
    font-size: 35px;
  }
  .about-text p {
    font-size: 18px;
  }
  .satff-profile h1 {
    font-size: 38px;
  }
  .satff-profile span {
    font-size: 13px;
  }
  .satff-profile p {
    font-size: 9px;
  }
  .company-text {
    padding: 60px 0px 0px 50px;
  }.img-path {
    bottom: -58px;
  }
  .company-text h1 {
    font-size: 38px;
  }
  .professional-menu-profile ul {
    grid-template-columns: repeat(2, auto);
  }
  .Contact-text h3 {
    font-size: 40px;
  }
  .about-text p {
    font-size: 15px;
  }
  .offer-flgs ul {
    grid-template-columns: repeat(7, 3fr);
  }
  .flg-menuitem ul {
    grid-template-columns: repeat(2, 2fr);
  }
  .flg-menuitem h3 {
    font-size: 18px;
  }
  .head-menu-list ul li a {

    font-size: 12px;
}
.head-menu-list ul li {
  padding: 7px 9px;
}
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
  .banner-text h3 {
    font-size: 45px;
    line-height: 60px;
  }
  .banner-text {
    padding: 50px 0;
  }
  .our-menu-profile ul li {
    width: 155px;
  }
  .industries-head-text h2 {
    font-size: 42px;
  }
  .industries-head-text p {
    padding: 0px 0px;
    font-size: 13px;
    line-height: 28px;
  }
  .menu-indus4 {
    background-color: #FFDBE1;
    margin-top: 0px;
    margin-left: 0px;
  }
  .menu-indus2 {
    background-color: #FAEFFD;
    margin-top: 0px;
    margin-left: 0px;
  }
  .industries-menu ul {
    grid-template-columns: repeat(2, auto);
  }
  .menu-indus3 {
    background-color: #E0FBEE;
    margin-left: 0px;
  }
  .menu-indus5 {
    margin-left: 135px;
    position: absolute;
    margin-top: 116px;
  }
  .industries-menu ul li {
    height: 214px;
    width: 177px;
    padding: 20px;
  }
  .menu-indus5 {
    margin-left: 171px;
    position: absolute;
    margin-top: 176px;
  }
  .industries-menu ul {
    gap: 165px;
  }
  .footer-text h5 {
    font-size: 12px;
  }
  .footer-text h6 {
    font-size: 12px;
  }
  .footer-text {
    padding: 20px 0px;
  }
  .industries-head-text h6 {
    font-size: 17px;
  }
  .industries-head-text h2 {
    font-size: 38px;
  }
  .industries-menu {
    padding-top: 70px;
  }
  .maximizi-head-text h1 {
    font-size: 30px;
    line-height: 60px;
  }
  .maximizi-head-text p {
    font-size: 12px;
  }
  .earnings-with {
    display: block;
  }
  .earnings-with h5 {
    font-size: 24px;
    margin: 30px;
  }
  .adlesa-text-menu h4 {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .adlesa-text-menu p {
    font-size: 12px;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: progress;
    padding: 4px 8px;
  }
  .latest-blog h2 {
    font-size: 43px;
  }
  .latest-profile h6 {
    font-size: 15px;
  }
  .latest-profile h4 {
    font-size: 16px;
  }
  .latest-profile p {
    font-size: 12px;
  }
  .latest-profile span {
    font-size: 16px;
  }
  .latest-profile span i {
    font-size: 14px;
  }
  .footer-img-icon{
   img{
    height: 50px;
    width: 300px;
   }
  }
  .footer-menu {
    display: block;
  
  }
  .footer-Company {
    margin-left: 0px;
  }
  .footer-img-icon ul {
    padding-top: 50px;
  }
  .latest-btn {
    margin-top: 0px;
  }
  .about-text h3 {
    font-size: 25px;
    line-height: 55px;

  }
  .about-text p {
    font-size: 14px;
  }
  .satff-menu ul {
    grid-template-columns: repeat(2, auto);
  }
  .satff-profile span {
    font-size: 24px;
  }
  .satff-profile p {
    font-size: 16px;
  }
  .company-text h1 {
    font-size: 50px;
  }
  .ready-towork h2 {
    font-size: 32px;
  }
  .ready-towork p {
    font-size: 15px;

  }
  .our-professional-text h2 {
    font-size: 42px;
  }
  .company-text h1 {
    font-size: 29px;
  }
  .about-section {
    padding: 20px;
    background: #EFF4F7;
  }
  .about-text h3 {
    font-size: 19px;
    line-height: 42px;
  }
  .about-text h6 {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .about-text p {
    font-size: 11px;
  }
  .satff-menu ul {
    grid-template-columns: repeat(1, auto);
  }
  .company-text h1 {
    font-size: 19px;
  }
  .company-text h4 {
    font-size: 15px;
  }
  .satff-menu ul {
    grid-template-columns: repeat(2, auto);
  }
  .satff-profile p {
    font-size: 13px;
    padding-top: 10px;
  }
  .Contact-text h3 {
    font-size: 33px;
  }
  .Contact-text p {
    font-size: 17px;
  }
  .offer-flgs {
    padding: 50px 0;
  }
  .offer-flgs ul {
    grid-template-columns: repeat(4, 3fr);
  }
  .fonbet-flg-text img {
    height: 50px;
    width: 50px;
  }
  .fonbet-cgp-btn button {
    padding: 1px 12px;
    font-size: 16px;
  }
  .fonbet-cgp-btn img {
    height: 25px;
    width: 25px;
  }
  .fonbet-cgp-btn h5 {
    font-size: 13px;
  }
  .flg-menuitem h3 {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 300;
    line-height: 32.78px;
    text-align: center;
    padding: 0px;
  }
  .industries-head-text h1 {
    font-size: 35px;
    margin-bottom: 45px;
  }
  .what-head-menu h3 {
    font-size: 37px;
    margin-bottom: 36px;
  }
  .head-menu-list ul li a {
    font-size: 8px;
  }
  .head-menu-list ul li {
    padding: 4px 10px;
  }
  
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .banner-text h3 {
    font-size: 30px;
    line-height: 48px;
  }
  .our-solution-text h2 {
    font-size: 26px;
  }
  .our-solution-text h5 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .industries-head-text h2 {
    font-size: 26px;
  }
  .industries-head-text h6 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .industries-head-text p {
    padding: 0px 0px;
    font-size: 10px;
    line-height: 27px;
  }
  .earnings-with {
    display: block;
  }
  .maximizi-head-text h1 {
    font-size: 22px;
    line-height: 60px;
  }
  .maximizi-head-text p {
    font-size: 9px;
  }
  .adlesa-menu {
    grid-template-columns: repeat(1, auto);
  }
  .earnings-with h5 {
    font-size: 15px;
  }
    .ceviews-text p {
      font-size: 10px;
  
    }
    .ceviews-text h6 {
      font-size: 12px;
    }
    .ceviews-text span {
      font-size: 10px;
    }
    .latest-menu ul {
            grid-template-columns: repeat(1, auto);
    }
    .footer-img-icon img {
      width: 100%;
    }
    .footer-text h5 {
      font-size: 8px;
    }
    .footer-text h6 {
      font-size: 8px;
    }
    .industries-menu ul {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
    .industries-menu ul li {
      height: 245px;
      width: 235px;
      padding: 20px;
    }
    .industries-menu ul {
      gap: 30px;
    }
    .menu-indus5 {
      margin-left: 0px;
      position: absolute;
      margin-top: 0px;
    }
    .earnings-with {
      display: block;
    }
    .banner-text P {
      font-size: 15px;
    }
    .professional-menu-profile ul {
      grid-template-columns: repeat(1, auto);
    }
    .our-professional-text h2 {
      font-size: 30px;
    }
    .our-professional-section {
      padding: 50px 0;
    }
    .ready-towork h2 {
      font-size: 22px;
    }
    .ready-towork p {
      font-size: 9px;
    }
    .ready-towork button {
      padding: 11px 21px;
      font-size: 15px;
    }
    .satff-profile p {
      font-size: 13px;
    }
    .Contact-text h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .Contact-section {
      padding: 20px;
      background: #EFF4F7;
    }
    .Contact-text p {
      font-size: 13px;
    }
    .Contact-text h6 {
      font-family: Manrope;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      color: #1351D8;
      margin-bottom: 0px;
    }
    .footer-section {
      padding: 20px;
      background-color: #dfdfdf;
    }
    .about-text p {
      font-size: 7px;
    }
    .offer-flgs ul {
    
      grid-template-columns: repeat(3, 3fr);
    }
    .Fonbet-menu {
      display: block;
      padding: 14px;
    }
    .fonbet-cgp-btn {
      gap: 17px;
      margin-left: 47px;
    }
    .fonbet-flg-text {
      margin-bottom: 10px;
    }
    .flg-menuitem ul {
      grid-template-columns: repeat(1, 2fr);
    }
    .head-menu-list ul li a {
      font-size: 15px;
    }
    .what-head-menu h3 {
      font-size: 31px;
      margin-bottom: 36px;
    }
    .head-menu-list ul {
      display: block;
    }
    .head-menu-list ul li {
      padding: 10px 71px;
    }
    .industries-head-text h1 {
      font-size: 27px;
      word-spacing: 18px;
      margin-bottom: 50px;
    }
 }








