.Industries-what{
    padding: 80px 0;
}
.industries-head-text{
    h1{
        -webkit-text-stroke-width:1px ;
        -webkit-text-stroke-color: black;
        font-weight: 700;
        color: transparent;
        font-size: 80px;
        word-spacing: 30px;
        margin-bottom: 70px;
    }
}
.what-head-menu{
    h3{

        font-family: "Manrope";
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
        text-align: center;
        margin-bottom: 56px;

    }
}
.head-menu-list{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
      

        li{
            border: 1px solid navy;
            padding: 10px 15px;
            transition: .3s;
            a{
                font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
            color: #1351D8;
            transition: .3s;

            }

        }
    }
}
.head-menu-list ul li:hover{
 background-color: #1351D8;
 a{
    color: white;
 }
}