.parten-nosma{
    img{
        height: 150px;
        width: 285px;
    }
}

.parten-btn{
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    h4{
        background: #9566D1 0% 0% no-repeat padding-box;
box-shadow: 0px 8px 0px #FFF05C;
border: 2px solid #FFF05C;
border-radius: 9px;
font: normal normal 600 17px/21px Unbounded;
letter-spacing: 0px;
color: #FFF05C;
padding: 10px 30px;
    }
}

.nos-parten-section{
    padding: 50px 0;
    
}

.nos-propit{
    position: relative;
    transition: all .9s;
}
.next-icon{
    font-size: 15px;
}
.nos-parten-section
{position: relative;
    .swiper-button-next{
    position: absolute;
  top: 61%;
  transform: translate(0,-50%);
  right:40px;
  background-color: rgb(142, 233, 117);
  color: white;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}
.swiper-button-prev{
    position: absolute;
  top: 61%;
  transform: translate(0,-50%);
  left: 0px;
  background-color: rgb(142, 233, 117);
  color: white;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}
}