.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #b8b6b60a;

}
.header-img{
    display: flex;
    align-items: center;
    justify-content: start;
}
.header-serc{
    display: flex;
    align-items: center;
    justify-content: start;
}
.header-menu-list{
    padding-top: 20px;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
       
        li{
           a{
            button{
                background: red;
                color: white;
                padding: 9px 20px;
                font-size: 15px;
            }
           
           }
            
        a{
            font-size: 15px;
            color: #000;
        }
        button{
            font-size: 14px;
            i{
                font-size: 15px;
            }
        }
        }
        }
}
.search-email{
    input{
        padding: 8px 246px 10px 17px;
    }
}
.header-menu-list ul li:hover a button{
border: 1px solid red;
color: red;
}
.menu-fixed{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: red;
    color: white;
    .header-menu-list{
        ul{
            li{
                button{
                    color: white;
                    
                }
                a{
                    color: white;
                    button{
                        background-color: #fff;
                        color: red;
                    }
                }
            }
        }
    }
    .header-serc{
        button{
            color: white;
        }
    }
}
.header-section{
    transition: .3s;
}
.top-bottom{
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: red;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    &.active{
        opacity: 1;
        pointer-events: auto;
        z-index: 33;
        bottom: 100px;
        right: 100px;
    }
}
.menu-opner{
    display: none;
    color: #000;
}
.serc-menu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
