.kavinsky-sound{
    background-color: #000;
    padding: 50px 0;
}
.kavinsky-text-photo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.kavinsky-photo{
    img{
        border-radius: 50%;
        height: 120px;
    }
}
.kavinsky-text{
    padding-top: 61px;
    h3{
        font: normal normal 800 25px/31px Unbounded;
letter-spacing: 0px;
color: #FFFFFF;

    }
    p{
        font: normal normal 600 13px/22px Unbounded;
letter-spacing: 0px;
color: #ffffff;

    }
    button{
        background-color: rgb(211, 209, 209);
        padding: 5px 10px;
        box-shadow: none;
        box-sizing: none;
        margin-bottom: 50px;
        i{
            padding: 2px;
        }
    }
}

.sound-list-item{
    background: #3f9e13 0% 0% no-repeat padding-box;
box-shadow: 4px 8px 11px #00000029;
border: 2px solid #9566D1;
border-radius: 9px;
text-align: center;
justify-content: center;
ul{
    padding: 20px;

    li{
        h3{
            font: normal normal 800 25px/31px Unbounded; 
            color: #FFF05C;
           

        }
        h4{
            font: normal normal 600 20px/27px Unbounded; 
            color: #fff; 
            span{
                font: normal normal 600 25px/31px Unbounded; 
                color:#FFF05C;
            }
        }
        h3{
            font: normal normal 600 25px/31px Unbounded; 
                color:#FFF05C;
                span{
                    font: normal normal 600 22px/25px Unbounded; 
                color:#ffffff; 
                }
        }
        span{
            font: normal normal 600 22px/25px Unbounded; 
            color:#ffffff; 
        }
        h1{
            font: normal normal 800 40px/46px Unbounded;
            color:#FFF05C;
        }
        h6{
            font: normal normal 600  15px/31px Unbounded; 
            color:#FFF05C; 
            span{
                font: normal normal 600  15px/31px Unbounded; 
            color:#ffffff;  
            }
        }
    }
}
}