.footer-section{
    padding: 65px 0;
    background-color: #181641;
}
.footer-text1{
    ul{
        display: inline-block;
        align-items: center;
       li{
        margin-bottom: 30px;
        a{
            font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: #FFFFFF;
        }
       }
    }
}
.footer-text22{
    ul{
       li{
        margin-bottom: 30px;
        a{
            font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: #FFFFFF;
        }
       }
    }
}
.footer-text33{
    ul{
        display: inline-block;
        align-items: center;
       li{
        margin-bottom: 30px;
        a{
            font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: #FFFFFF;
        }
       }
    }
}
.footer-text44{
    ul{
        display: inline-block;
        align-items: center;
       li{
        margin-bottom: 30px;
        a{
            font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: #FFFFFF;
        }
       }
    }
}
.footer-text55{
    ul{
        display: inline-block;
        align-items: center;
       li{
        margin-bottom: 30px;
        a{
            font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: #FFFFFF;
        }
       }
    }
}
.font-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    a{
      i{
        font-size: 18px;
      }
    }
}
.footer-last-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.footer-last1{
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
        li{
            a{
font-family: "DM Sans";
font-size: 13px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFFFFF;
            }
        }
    }
}
.footer-last2{
    h6{
        font-family: "DM Sans";
font-size: 13px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFFFFF;
    }
}