.footer-section{
    min-height: 800px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    overflow: hidden;
    .btn-area{
        .btn{
            background-color: #00B69B;
            padding: 7px 10px;
            border-radius: 50px;
            border-width: 0px 0px 5px 5px;
        border-style: solid;
        border-color: #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10000px;
        transition: 0.5s;
        color: white;
        }
    }
}
.footer-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 180px;
    padding-top: 50px;
    
}
.footer-menu{
    h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 31px;
        letter-spacing: -0.24px;
        color: #1E2330;
        margin-bottom: 25px;
    }
    ul{
        li{
            margin-bottom: 15px;
            a{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.13px;
                color: #676B5F;
                
            }
        }
    }
    
}
.footer-social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 200px;
    margin-top: 30px;
    margin-right: 100px;
    .footer-logo{
        img{
            width: 100%;
            min-height: 90px;
        }
    }
    .social-icon{
        display: flex;
        align-items: center;
        gap: 20px;
        
        a{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: #FF8A2D;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: 0.5s;
            &:hover{
                background-color: #fff;
                color: #FF8A2D;
                border: 1px solid #FF8A2D;
            }
        }
    }
}
.footer-areabtn{
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 999;
    position: relative;
    margin-left: 80px;
    margin-top: 20px;
    .btn{
        box-sizing: border-box;
        padding: 10px 26px 10px 26px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #222222;
        background: #FF8A2D;
        border-width: 0px 0px 5px 5px;
        border-style: solid;
        border-color: #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10000px;
        transition: 0.5s;
        &:hover{
            background-color: #FFFFFF;
            color: #000;
        }
    }
    
}


.hr-line{
    border: 2px solid #0000008f;
}