 @media (max-width: 1400px) {
  .btn-item input
  {
    width: 332px;
  }
  .featured-head .ita-lian
{
  left: 63px;
}
.card-title
{
  font-size: 22px;
}
.card-text
{
  font-size: 13px;
}
.card-time-ster h6
{
  font-size: 14px;
}
.got-option-odar
{
  padding: 63px 20px;
}


    }
 @media (max-width: 1200px) { 
  .about-head-text
  {
      font-size: 35px;
    }
      .btnu-section
    {
      padding: 8px 5px;
    }
    .doop-down
{
  padding: 11px 14px;
}
.btn-item input
{
  width: 335px;
}
.featured-head .ita-lian
{
  left: 54px;
}
.list-restu p
{
  font-size: 14px;

  }
  .list-photo img
{
height: 434px;
}
.btnu-section button
{
  font-size: 15px;
}
.btn-item input
  {
      width: 239px;
    }
    .doop-down
    {
        padding: 4px 1px;
      }
      .btn-item input
{
  height: 47px;

}
.btn-item span
{
  top: 11px;
  left: 22px;
}
.btn-item h6
{
  top: -21px;
  right: 15px;
}
.banner-btn-gorup
{
  gap: 5px;
}
.btnu-section
{
    padding: 5px 5px;
  }
  .banner-text h3
{
  font-size: 40px;
  height: 35px;

}
.header-menu .header-icon .head-btn
{
  width: 133px;
  height: 45px;
}
.header-menu
{
  gap: 28px;
}
.header-menu .header-icon
{
  gap: 29px;
}
.header-photo a img
{
  width: 181.91px;
  height: 33px;
}
.banner-text h6
{
  font-size: 13px;

}
.featured-head .ita-lian
{
  left: 42px;
  width: 97px;
  height: 32px;
  font-size: 16px;
}
.featured-head .japa-nese
{
  width: 97px;
  height: 32px;
  font-size: 16px;
}
.featured-restatur
{
  padding: 100px 0px;
}
.card-body
{
  padding-top: 0p;
  margin-top: 0px;
}
.card-title
{
  font-size: 19px;
}
.card-text
{
  font-size: 12px;
}
.card-time-ster span
{
  font-size: 11px;

    }
    .card-time-ster h6
{
  font-size: 11px;
}
.card .cord-model
{
  right: 15px;
  top: 15px;
  width: 97px;
  height: 32px;
  font-size: 15px;
}
.card h5
{
  left: 15px;
  top: 15px;
  width: 56px;
  height: 32px;
  font-size: 16px;

}
.list-restu button
{
  margin-top: 37px;
  width: 187px;
  height: 55px;
}
.list-section
{
  height: 699px;
}
.restaurent-listed
{
  margin-left: 18px;
}
.these-section
{
  padding: 100px 0px;
}
.card-body button
{
  margin-top: 18px;
  width: 190px;
  height: 52px;
  font-size: 14px;
}
.dfoot-head-text h3
{
    font-size: 27px;
  }
  .dfoot-head-text p
{
  font-size: 14px;
}
.dfoot-down
{
  gap: 20px;
}
.got-option-odar
{
  padding: 24px 20px;
}
.card-bodys .card-btns
{
  width: 150px;
  height: 48px;
  font-size: 14px;
}
.card-bodys h4
{
  padding-top: 22px;
  padding-left: 5px;
  font-size: 17px;
}
.menu-one p
{
  font-size: 14px;
}
.menu-two ul
{
  padding-top: 5px;
}
 }
@media (max-width: 992px) {
  .header-menu{
    position: fixed;
    background-color: #fff;
    left: -100%;
    top: 0;padding: 10px;
    display: block;
    transition: 0.9s;
    padding-bottom: 20px;
    &.active{
      left: 0;
    }
  }
  .manu-opner{
    display: block;
    cursor: pointer;
  }
  .header-menu a{
    display: block;
    padding: 15px 15px;
  }
  .header-menu .header-icon {
    display: block;
    .head-btn{
      margin-top: 30px;
    }
  
  }
  .filter-bnt
{
  width: 76px;
  height: 45px;
  font-size: 14px;
}
  .select-rest .form-select
{
  width: 150px;
  font-size: 12px;
}
  .banner-photo-sections
{
  padding-top: 10px;
}
  .banner-text h3
  {
      font-size: 42px;
    }
    .banner-text h6
    {
        font-size: 18px;
      }
      
      .btn-item input
      {
          width: 290px;
          height: 52px;
        }
      .doop-down
      {
        padding: 8px 24px;
        }
        .btnu-section button
        {
            font-size: 16px;
          }
          .btnu-section
          {
              padding: 7px 20px;
            }
          .banner-btn-gorup
          {
              gap: 10px;
            }
            .item-mlsd
            {
              padding-left: 36px;
            }
            .btn-item span
            {
              left: 16px;
              top: 15px;
              }

.featured-head .ita-lian
{
  left: 38%;
  }
  .list-restu p
{
  padding-top: 20px;
  font-size: 11px;

}
.list-restu button
{
    width: 160px;
    height: 49px;
  }
  .list-photo
{
  top: 208px;
}
.list-photo img
{
    height: 319px;
  }
  .list-icon-play
{
  top: 231px;
  right: 33px;
}
.resta-text h1
{
  font-size: 44px;
}
.resta-text h1 span
{
  font-size: 44px;
}
.resta-icon img
{
  width: 62px;
  height: 62px;
}
.resta-text h6
{
  font-size: 14px;
}
.restaurent-listed
{
    margin-left: 0px;
    padding-top: 35px;
  }
  .dfoot-head-text h3
{
    font-size: 20px;
  }
  .dfoot-head-text p
  {
      font-size: 10px;
    }
    .got-option-odar h3
{
  font-size: 23px;
}
.got-option-odar p
{
  padding-bottom: 0px;
  font-size: 11px;
}
.got-option-odar .got-option-btn
{
  width: 121px;
  height: 36px;
  font-size: 14px;
}
.join-deli h1
{
  font-size: 27px;
}
.join-deli
{
  padding: 50px 0px;
}
.card-bodys h4
{
    padding-top: 17px;
    font-size: 13px;
  }
  .card-bodys .card-btns
  {
      width: 130px;
      height: 41px;
      font-size: 11px;
    }
    .header-photo a img
    {
        width: 165.91px;
      }
      .menu-one img
{
  width: 193px;
  height: 35px;
}
.menu-one p
{
    font-size: 10px;
  }
  .menu-two h5
{
  font-size: 13px;
}
.menu-two ul li a
{
  font-size: 10px;
}
.footer-menu
{
  padding: 50px 0;
}
.footer-last
{
  padding: 10px;
}
.banner-text-photo
{
  flex-direction: column;
 align-items: center;
}
.order-md-2
{
    order: -1 !important;
  }
  .banner-text
{
 padding: 40px 0px;
 order: 1;
}
.select-rest
{
  gap: 10px;
}
.restat-total h6
{
  font-size: 15px;
}
  }
@media (max-width: 768px) { 
  .btn-item input
{
    width: 245px;
    height: 52px;
  }
  .btnu-section
  {
      padding: 8px 0px;
    }
  .banner-btn-gorup
  {
      gap: 5px;
    }
      .doop-down
      {
          padding: 7px 10px;
        }

          .btnu-section button
          {
              font-size: 13px;
            }
            .featured-head .ita-lian
            {
                width: 120px;
                height: 41px;
                font-size: 20px;
                padding: 2px;
                top: 80%;
              }
 .featured-head .japa-nese
              {
                  width: 120px;
                  height: 41px;
                  font-size: 20px;
                  padding: 1px;
                }
                .featured-restetu
                {
                  padding: 0px;
                }
                .card h5
                {
                    left: 30px;
                    top: 30px;
                    width: 86px;
                    height: 40px;
                    font-size: 20px;
                  }
                  .card .cord-model
                  {
                      right: 30px;
                      top: 30px;
                      width: 119px;
                      height: 40px;
                      font-size: 18px;
                    }
                    .card-title
{
    font-size: 26px;
  }
  .card-text
  {
      font-size: 17px;
    }
    .card-time-ster span
    {
        font-size: 17px;
      }
      .card-time-ster h6
      {
          font-size: 19px;
        }
        .card-body button
{
  width: 240px;
  height: 60px;
  font-size: 18px;
}
.card-titles
{
  font-size: 28px;
}
.dfoot-head-text
{
  padding-top: 0px;
}
.dfoot-head-text h3
{
    font-size: 30px;
  }
  .dfoot-head-text p
  {
      font-size: 16px;
    }
    .dfoot-down
    {
        gap: 40px;
      }
      .got-option-odar h3
{
  font-size: 30px;
}
.got-option-odar p
{
    padding-bottom: 20px;
    font-size: 16px;
  }
  .got-option-odar .got-option-btn
{
  width: 170px;
  height: 60px;
  font-size: 18px;
}
.join-deli h1
{
    font-size: 30px;
  }
  .card-bodys h4
  {
      padding-top: 22px;
      font-size: 27px;
    }
    .card-bodys .card-btns
{
  width: 169px;
  height: 53px;
  font-size: 15px;
    }
    .menu-one img
    {
        width: 139px;
        height: 25px;
      }
      .menu-one p
{
    font-size: 7px;
  }
  .menu-one .footer-icon
{
  gap: 16px;
  padding-top: 15px;

  }
  .menu-two h5
  {
      font-size: 8px;
    }
    .row
{
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
}
.restaurent-listed
{
    padding-top: 215px;
  }
  .list-restu
{
  padding: 27px 0px;
}
.list-photo img
{
    height: 331px;
  }
  .select-rest .form-select
  {
      width: 124px;
      font-size: 9px;
    }
    .restat-total h6
{
    font-size: 11px;
  }
}
 @media (max-width: 576px) { 
  .banner-text h3
  {
      font-size: 30px;
    }
    .banner-text h6
    {
        font-size: 12px;
        padding-top: 16px;
      }
      .btn-item input
      {
          width: 180px;
          height: 44px;
        }
        .doop-down
        {
            padding: 2px 0px;
          }
          .banner-text
          {
              padding: 30px 0;

            }
            .btn-item span
            {
                left: 9px;
                top: 9px;
              }
              .btn-item h6
              {
                  top: -7px;
                  right: 7px;
                }
                .item-mlsd
                {
                    padding-left: 25px;
                  }
                  .btnu-section button
                  {
                      font-size: 9px;
                    }
                    .btnu-section
                    {
                        padding: 6px 0px;
                      }
                      .featured-restetu
{
    padding: 0px;
    padding-top: 40px;
  }
  .list-photo img
  {
      height: 263px;
    }
    .afoot-love
{
  padding: 70px 5px;
}
.dfoot-head-text h3
{
    font-size: 24px;
  }
  .dfoot-head-text p
  {
      font-size: 13px;
    }
    .menu-two ul li a
    {
        font-size: 7px;
      }
      .menu-one img
      {
          width: 113px;
          height: 23px;
        }
        .menu-one p
        {
            font-size: 6px;
          }
          .menu-one .footer-icon
          {
              gap: 5px;
              padding-top: 10px;
            }
            .these-cities p
{
  font-size: 11px;
}
.list-restu p
{
    font-size: 10px;
  }
  .fetured-text p
{
  font-size: 13px;
}

                }



