h1{
    color: blue;
    background-color:rebeccapurple;
    background-color: aquamarine;
    margin: 5px;
    padding: 10px;
}
h2{
    color: blue;
    background-color: blueviolet;
}
h3{
    color: blue;
    background-color: blanchedalmond;}