.how-does{
ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 130px;
}
}
.nlock-secrets{
    padding: 60px 0;
}
.how-item{
    h3{
        font-family: "Gilroy";
font-size: 36px;
font-weight: 700;
line-height: 65px;
letter-spacing: -1.2000000476837158px;
text-align: center;
color: rgb(255, 255, 255);

height: 73px;
width: 73px;
border-radius: 50%;
margin: 0 auto;
margin-bottom: 30px;
    }
    h4{
        font-family: "Montserrat";
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: center;
margin-bottom: 20px;

    }
    P{
        font-family: "Montserrat";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.20000000298023224px;
text-align: center;

    }
}
.ma-3a{
    background-color: green;
}
.ma-2a{
    background-color: rgb(18, 55, 177);
}
.ma-1a{
    background-color: rgb(234, 23, 23);
}
.how-does{
    height: 265px;
    
    // ul{
    //   li{
    //     background-image: url(./../img/showcase/11.png);
    //     height: 2px;
    //     margin-top: 30px;
    //   }
    // }
}

.nlick-img{
    position: relative;
}

.nlic-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}