.contact-form{
    box-shadow: 6px 15px 50px -2px rgba(0, 0, 0, 0.12);
    padding: 40px;
    h4{
        font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 25x;
  margin-bottom: 30px;
    }

}
.contact-usly{
    padding: 80px 0;
    h1{
        font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 48px;
        font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-bottom: 70px;
    }
}
.contac-tact{
    border-radius: 20px;
}
.contac-btn{
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: #32dbc6;
    border-color: #32dbc6;
    border-radius: 30px;
    box-shadow: none;
    a{
        color: #ffffff;  
    }
}
.contac-menu{
    box-shadow: 6px 15px 50px -2px rgba(194, 192, 192, 0.12);
    padding: 40px;
    h6{
        font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        line-height: 1.7;
    color: #0c0a0a;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5px;
}
    p{
        font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        line-height: 1.7;
    color: #4d4d4dae;
    font-weight: 500;
    font-size: 1rem; 
    margin-bottom: 20px;
    }
    h5{
        margin-bottom: 10px;
        a{
            color: #32dbc6;
        }
    }
    }


    .get-let{
        padding: 50px;
        background-color: #32dbc6; 
       
    }
    .get-btn{
        background-color: #32dbc6; 
        a{
            color: white;
            font-size: 20px;
        }
    }