.ccreata-img{
    img{
        max-width: 552px;
        height: 460px;
    }
}
.creata-text{
    h2{
font-family: 'Arial Black';
font-style: normal;
font-weight: 900;
font-size: 56px;
line-height: 65px;
color: #502274;
margin-bottom: 50px;


    }
    p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150%;
color: #191919;


    }
    h4{
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 150%;
color: #191919;


    }



}
.creata-menu{
    padding: 90px 0;
}

.creati-text{
    margin-top: 80px;
p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;
color: #000000;
margin-bottom: 30px;
padding: 0px 100px 0px 0px;
}
h4{
font-family: 'Arial Black';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 65px;
color: #502274;


}
button{
    margin-top: 55px;
font-family: 'Arial Black';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 24px;
color: #FFFFFF;
padding: 7px 10px;
box-sizing: border-box;
background: #FF8A2D;
border-width: 0px 0px 5px 5px;
border-style: solid;
border-color: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10000px;

}
}
.creati-img{
    img{
        height: 423px;
        max-width: 480px;
    }
}
.creati-menu{
    margin-bottom: 150px;
}